name: PlatformIO Target CI Build

on: [push]

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Set up Python
      uses: actions/setup-python@v1
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install platformio
    - name: Run PlatformIO esp32dev-tft
      run: platformio run -d ${{ github.workspace }} -e esp32-tft
    - name: Run PlatformIO esp32dev-epaper
      run: platformio run -d ${{ github.workspace }} -e esp32-epaper
